html {
	font-size: 16px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	text-align: center;
}

dialog {
	border: 3px solid blue;
	border-radius: 10px;
	bottom: 60%;
	min-width: 40%;
}

form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

label {
	margin-bottom: 0.25em;
}

input {
	margin-bottom: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.button-pair {
	display: flex;
	gap: 5%;
}

.button-pair > * {
	flex: auto;
	margin-bottom: auto;
}

#new-book {
	border: 3px solid blue;
	border-radius: 10px;
	margin-bottom: 1em;
	font-size: 1.5rem;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	min-width: 65%;
}

th {
	border: 1px solid black;
	padding: 0.25em;
	background-color: rgb(239, 239, 239);
}

td {
	border: 1px solid black;
	padding: 0.25em;
}

.center-td {
	text-align: center;
}

.remove-cell {
	border: none;
}

td > input[type="checkbox"] {
	margin-bottom: auto;
}
